
<div class="header-add-habits">
    <h1 style="color: white; font-size: 2rem; font-family: Impact, sans-serif; font-weight: bold;">BAD HABITS</h1>
    <button mat-raised-button (click)="openAddDialog()">Add</button>
</div>
    <div class="main-div">
        <ul style="padding: 5px; list-style: none;">
            <mat-grid-list cols="2" rowHeight="2:1">
            <li *ngFor="let habit of habitList;" style="padding: 12px;">
                <mat-grid-tile class="example-card">
                    <mat-card-content>
                        <mat-card-header style="padding: 12px;">
                            <mat-card-title style="font-size: 2rem; color: #DD6CF7;">{{ habit.habit }}</mat-card-title>
                        </mat-card-header>
                        <section>
                            <span style="font-size: 1.3rem; color: white;">Abstinence days: {{ AbstinenceTime(habit) }} days</span>
                        </section>
                        
                        <section class="prog-wrapper">
                            <mat-progress-bar 
                            class="example-margin"
                            mode="indeterminate">
                            </mat-progress-bar>
                        </section>

                        <section>
                            <span style="font-size: 1.3rem; color: white;">Abstinence Start Date: {{ habit.convertedDate }}</span>
                        </section>
                        <mat-card-actions>
                            <div class="button-wrapper">
                                <button id="del-button" mat-raised-button (click)="deleteHabit(habit)">Delete</button>
                                <button id="rel-button" mat-raised-button (click)="resetHabit(habit)">Relapse</button>
                            </div>
                        </mat-card-actions>
                    </mat-card-content>
                </mat-grid-tile>
            </li>
        </mat-grid-list>
        </ul>
</div>



