<mat-toolbar >
    <div style="margin-left: 2%; ">
        <span>QUITZILLA</span>
    </div>

    <ng-container *ngIf="authService.userData as user; else loginButt">
        <div style="margin-left: 82%;">
            <button (click)="logout()">
                <mat-icon>logout</mat-icon>
                Logout
            </button>
        </div>
    </ng-container>

    <ng-template #loginButt>
        <div style="margin-left: 82%;">
            <button routerLink=''>
                <mat-icon>login</mat-icon>
                Login
            </button>
        </div>
    </ng-template>
</mat-toolbar>